<!DOCTYPE html>
<html>
 <head>
    <meta charset="UTF-8">
　　<title>Bookers</title>
    <link rel="stylesheet" href="style.css">
 </head>

 <body>
   
   <header>
   <h1>ようこそ Bookersへ！<h1>
   </header>
   
   <main>
     <div class="textbox">
     <p ><span class="strong">Bookers</span>では、さまざまな書籍に関するあなたの意見や<br>
     <br>
     印象を共有し交換することができます
     </p>
    </div>
    <div class="indexlink">
     <%= link_to "Start", books_path %>
    </div>
   </main>
 
 </body>



</html>

