/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
header {
  margin-left:30px;
}
.textbox {
  width:500px;
  height:auto;
  margin:20px 0 0 60px;
}
.indexlink {
  width:500px;
  height:auto;
  margin:20px 0 0 60px;
}
.mainbox {
  width:auto;
  height:auto;
  margin:30px 0 30px 30px;
}
.createbox {
  width:200px;
  margin-top:20px;
  float:left;
}
.index {
  margin-left:20px;
}
.showbox {
  width:500px;
  margin:30px 0 0 50px;
}
.showcommand {
  float:left;
}
.command {
  width:100px;
  margin:20px 0 0 30px;
}
.strong {
 font-weight: bold;
}
.back {
  float:left;
  margin:20px 0 0 450px;
}
.editbox {
  width:500px;
  margin:30px 0 0 30px;
}
 .editcommand {
  float:left;
 }
/*---show.html.erb---*/

/*---show.html.erb---*/